<h1>Rank Tables Page</h1>
<ul>
  <% @ranktables.each do |table| %>
    <li>
      <strong><%= link_to(table.title, table) %></strong> (<%= table.authorName %>):
      <%= table.description %>
      <%= table.created_at %>
    </li>
  <% end %>
</ul>