<h1>Results for <%= @ranktable.title %></h1>
<%@ranktable.option.each do |option| %>
  <strong><%= option.value %></strong> </br>
<% end %>
<%= pie_chart @votes.group(:option).sum(:rank) %>
<%= link_to "Ranktable Page", ranktable_path(@ranktable) %>