<h1>Results for <%= @ranktable.title %></h1>
<%@votes.each do |option,score|%>
  <strong><%= option %></strong> (<%=score%>) </br>
  <%#entry.each do |option,score| %>
<!--    <strong><%#= option %></strong> (<%#=score%>) </br>-->
  <%# end %>
<% end %>
<%= pie_chart @votes %>