/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Raleway);


$lightBlue: #F0F8FF;
$highlight: #0066cc;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header{
  display: inline;
  color: #2E2F30;
}
.option_item{
  background: $lightBlue;
  border-radius: 25px;
  border: 2px solid $highlight;
  padding: 10px;
  cursor: grab;
}
.option_item:active{
  cursor: grabbing;
}

.option_text{
  display: inline-block;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 30px;
  vertical-align: middle;
  line-height: normal;

}
.option_div{
  padding-left: 25px;
}

.logo_text{
  @include vertical-align();
}