<header style="padding: 5px; color: #F0F0F0; background: #237CBE;">
  <h1 style="display: inline">RankPop</h1>
  <%if current_user %>
    <div style="display: inline; float: right">
      <%= link_to image_tag(current_user.picture,size: 30),me_path %>
      <%= full_name %>
    </div>
  <%end %>
</header>