<aside style="float: right; background: #F0F0F0; width: 200px;">
  <nav>
    <ul>
      <li>
        <%= link_to 'Homepage',  home_path%>
      </li>
      <li>
        <%= link_to 'Rank Tables', ranktables_path %>
      </li>
      <li>
        <%= link_to 'New Rank Table', new_ranktable_path %>
      </li>
    </ul>
  </nav>
</aside>